<h1> list of all the groups available: </h1>

  <h3>groups available</h3>
  <% if current_user %>
		<%= link_to 'create new group', new_group_path%>
	<% else %>
	 <p><%= 'register to create groups!' %></p>
	 <%end %>

	<ul>
 <% @groups.each do |group| %>
 	<li><%= link_to (group.name + ' ' + group.climbing_level), group_path(group)%></li>
 <% end %>
 </ul>


  <h3> see users by given climbing level </h3>
  <% @groups.each do |group| %>
	  <% group.users.each do |user|  %>
			<% user.climbing_level %>
			<li><%= link_to  (user.climbing_level + ' ' + user.name), user_path(user.id) %></li>

	  <% end -%>
  <% end -%>
