<h1><%=  @user.name %></h1>

<h2> hello ! </h2>

<dl class="dl-horizontal">

<%= button_to "Delete this user", user_path(@user), method: :delete %>

<%= link_to "Update this user", edit_user_path(@user.id)%>