<section class="middle">
	<h2> Climb with other people in Barcelona </h2>
	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque provident, eum ipsam similique laboriosam totam harum beatae. Nesciunt, qui, soluta eligendi sint odit a saepe. Dolorum pariatur labore excepturi veniam. </p>
	<%#= link_to 'register here', register_path %>
</section>
<secttion class="bottom">
	<article>
		<h1> find company to climb out of town </h1>
		<p>
		find a pertner or group of people that would like to climb with you outisde of Barcelona 
		</p>
		<button> go >> </button>
	</article>
	<article>
		<h1> offer other people going with you </h1>
		<p>
		if you go for a climbing trip and you have a free spot in your group or you have space in car left, offer it!
		</p>
		<button> go >> </button>
	</article>
	<article>
		<h1> train in Barcelona </h1>
		<p>
			if you want to begin training with other people in on of the climbing gyms in Barcelona or you want to just go with other people, just find them
		</p>
		<button> go >> </button>
	</article>
</secttion>