<section class="middle">
	<h2> Climb with other people <br> in Barcelona </h2>
	
	<%#= link_to 'register here', register_path %>
</section>
<secttion class="bottom">
	<article class="art1">
		<h1> find company to climb out of town </h1>
		<p>
		find a pertner or group of people that would like to climb with you outisde of Barcelona 
		</p>
	</article>
	<article class ="art2">
		<h1> offer other people going with you </h1>
		<p>
		if you go for a climbing trip and you have a free spot in your group or you have space in car left, offer it!
		</p>
	</article>
	<article class="art3">
		<h1> train in Barcelona </h1>
		<p>
			if you want to begin training with other people in on of the climbing gyms in Barcelona or you want to just go with other people
		</p>
	</article>
</secttion>