// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body {
 	font-family: 'Nunito', sans-serif;
 	color: black;

}
body a {
	text-decoration: none;
	//color: darkgreen;
	font-size: 18px;
	//font-family: 'Rock Salt';

}

a:hover {text-shadow: 0 0 3px #999;}

.table_group{
	margin-top:75px;
	background: rgba(255, 255, 255, 0.9);
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;

}

.table{
	background: rgba(200, 54, 54, 0.5);
}

.group_show {
	margin-top:75px;
	background: rgba(255, 255, 255, 0.9);
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;

}

.group_new {
	margin-top:75px;
	background: rgba(255, 255, 255, 0.9);
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;

}

.group_edit {
	margin-top:75px;
	background: rgba(255, 255, 255, 0.9);
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;

}