// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body {
 	font-family: 'Nunito', sans-serif;
 	color: #002635;

}

.login_new {
	margin-top:75px;
	background: rgba(255, 255, 255, 0.9);
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-top: 30px;
}