// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map-canvas {
  height: 500px;
  margin: 0px;
  padding: 0px
}

.user_star {
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 55px solid tomato;
	position: relative;
	//outline:red 1px solid;

}

.user_star:after {
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 40px solid transparent;
	border-top: 55px solid tomato;
	position: absolute;
	content: "";
	top: 40px;
	left: -36px;
//outline:red 1px solid;
}

.space {
	width: 15px;
	margin-right: 20px;
	margin-bottom: 10px;
//outline:red 1px solid;
}

.starsdiv {
	//outline:red 1px solid;
	margin-bottom: 70px;
}

// .user_star {
// 	width: 100px;
// 	height: 100px;
// 	background: red;
// 	-moz-border-radius: 50px;
// 	-webkit-border-radius: 50px;
// 	border-radius: 50px;
// }

// .user_star {
// 	background: blue; width: 80px;
//  height: 80px;
//  position: relative;
//  -webkit-transform: rotate(20deg);
//  -moz-transform: rotate(20deg);
//  -ms-transform: rotate(20deg);
//  -o-transform: rotate(20eg);
// }

// .user_star:before {
// 	 content: "";
//  position: absolute;
//  top: 0;
//  left: 0;
//  height: 80px;
//  width: 80px;
//  background: blue;
//  -webkit-transform: rotate(135deg);
//  -moz-transform: rotate(135deg);
//  -ms-transform: rotate(135deg);
//  -o-transform: rotate(135deg);
// }

 body {
 	font-family: 'Nunito', sans-serif;
 	color: #002635;

}


